<nav class="bottom-nav">
     <li><a href="/connect/connections">Connections</a></li>
     <% if (typeof theUser != 'undefined'){%>
       <li class="align-right"> Welcome <%=theUser._firstName %></li>
     <%}%>

</nav>
