<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link href="/assets/stylesheet/style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/jpg" href="/assets/image/icon.jpg">
</head>
<body>
  <%-include('partial/header') -%>
  <%-include('partial/navigation') -%>
<main>
  <div>
     <div class="container">
         <p>Attend and create events to connect with other gym addicts.
           Whether you're looking for a gym buddy, make friends, and even learn more about fitness
         <br>Check out the Connections section to browse available connections!</p>

     </div>
  </div>
</main>
<%-include('partial/footer') -%>

</body>
</html>
