<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link href="/assets/stylesheet/style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/jpg" href="/assets/image/icon.jpg">
</head>
<body>
  <%-include('partial/header') -%>
  <%-include('partial/navigation') -%>
<main>
  <div>
     <div class="container">
         <p>Contact: pbya@uncc.edu</p>
         <p>Address: 9201 University City Blvd, Charlotte, NC 28223</p>

     </div>
  </div>
</main>
<%-include('partial/footer') -%>

</body>
</html>
